:root.bold-tech {
  --background: 0 0% 100%;
  --foreground: 242.1687 47.4286% 34.3137%;
  --card: 0 0% 100%;
  --card-foreground: 242.1687 47.4286% 34.3137%;
  --popover: 0 0% 100%;
  --popover-foreground: 242.1687 47.4286% 34.3137%;
  --primary: 258.3117 89.5349% 66.2745%;
  --primary-foreground: 0 0% 100%;
  --secondary: 252.0000 100% 97.0588%;
  --secondary-foreground: 244.5205 57.9365% 50.5882%;
  --muted: 250.0000 100% 97.6471%;
  --muted-foreground: 262.1229 83.2558% 57.8431%;
  --accent: 214.2857 94.5946% 92.7451%;
  --accent-foreground: 225.9310 70.7317% 40.1961%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 226.4516 100% 93.9216%;
  --input: 226.4516 100% 93.9216%;
  --ring: 258.3117 89.5349% 66.2745%;
  --chart-1: 258.3117 89.5349% 66.2745%;
  --chart-2: 262.1229 83.2558% 57.8431%;
  --chart-3: 263.3898 69.9605% 50.3922%;
  --chart-4: 263.3557 69.3023% 42.1569%;
  --chart-5: 263.5000 67.4157% 34.9020%;
  --sidebar: 250.0000 100% 97.6471%;
  --sidebar-foreground: 242.1687 47.4286% 34.3137%;
  --sidebar-primary: 258.3117 89.5349% 66.2745%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 214.2857 94.5946% 92.7451%;
  --sidebar-accent-foreground: 225.9310 70.7317% 40.1961%;
  --sidebar-border: 226.4516 100% 93.9216%;
  --sidebar-ring: 258.3117 89.5349% 66.2745%;
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

:root.bold-tech.dark {
  --background: 234 20% 8%;
  --foreground: 258 100% 95%;
  --card: 235 25% 12%;
  --card-foreground: 258 100% 95%;
  --popover: 235 25% 12%;
  --popover-foreground: 258 100% 95%;
  --primary: 258.3117 89.5349% 66.2745%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 30% 18%;
  --secondary-foreground: 258 100% 95%;
  --muted: 238 25% 15%;
  --muted-foreground: 258 50% 80%;
  --accent: 258 80% 70%;
  --accent-foreground: 234 20% 8%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 30% 22%;
  --input: 240 30% 22%;
  --ring: 258.3117 89.5349% 66.2745%;
  --chart-1: 255.1351 91.7355% 76.2745%;
  --chart-2: 258.3117 89.5349% 66.2745%;
  --chart-3: 262.1229 83.2558% 57.8431%;
  --chart-4: 263.3898 69.9605% 50.3922%;
  --chart-5: 263.3557 69.3023% 42.1569%;
  --sidebar: 234 20% 8%;
  --sidebar-foreground: 258 100% 95%;
  --sidebar-primary: 258.3117 89.5349% 66.2745%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 258 80% 70%;
  --sidebar-accent-foreground: 234 20% 8%;
  --sidebar-border: 240 30% 22%;
  --sidebar-ring: 258.3117 89.5349% 66.2745%;
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
}

